@media screen and (min-width: 768px) {

    .header-icon-say,
    .header-icon-search,
    .logo-header{
        display:block;
    }
    .logo-header-sm{
        display:none;
    }
    .search-button,
    .say-button{
    fill:var(--header-background-text-color);
    }

    .top-cards-item:nth-child(5),
    .top-cards-item:nth-child(6) {
      display: block; /* Показываем элементы 5 и 6 для планшетов и ПК */
    }
    
}